{% extends 'base.html' %}
{% block content %}
<div class="movie_list row">
    {% for movie in movies %}
      <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="card movie-card">
              <a href="{{ url_for('movie_detail', movie_id=movie.id) }}">
  <img src="{{ url_for('static', filename=movie.image) }}" class="card-img-top" alt="{{ movie.name }}">
  <div class="card-body">

     <h6 class="card-title">{{ movie.name }}</h6>
  </div>
              </a>
</div>
        </div>
    {% endfor %}





        </div>
      </div>
{% endblock content %}